
//Fonts
$baseFont: 'Open Sans', sans-serif;

//Colours
$medWhite: #EDF2F7;
$red: #EA4B5D;
$lightGrey: #a8a8a8;
$blue: #2C5282;
$darkblue: #2A4365;
$white:#FFFFFF;

// grid variables
$grid-columns: 12;
$grid-max-width: 62em;