
#content {
	ul {

			a {
				padding: 0 0 10px 0;

				@media #{$tabletUp}{
					padding: 0 10px 10px 0;

					&:nth-of-type(2n){
						padding: 0 0 10px 0;
					}
				}
			}

			li {
				padding: 15px 15px 15px 20px;
				border-radius: 3px;
				background-color: $red;
				font-weight: 400;

				&:hover {
					background-color: $darkblue;
					color: $red;
				}
			}
	}
}
